@font-face {
    font-family: monaco;
    src: url(Monaco.ttf);
}


body {
    font-family: monaco;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('textures/topography.png');

}

#content{
    margin:40px 200px 40px 200px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgba(10,10,10,0.1);
    border-radius: 10px;

}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    background-image: url('textures/spiration-dark.png') ;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position:fixed;
    width: 100%;
    bottom: 0;
    background-image: url('textures/spiration-dark.png') ;
}

.imageflex { 
    display: flex; 
}
.imageflexcontent { 
    margin-left: 20px; margin-top: 0; 
}

.remark {
    color:#0000A0;
    font-weight: bold;
}

.totheright {
    margin-left: 20px;
}

details {
    padding: 0.5em 0.5em 0;
  }
  
  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    margin-bottom: 0.5em;
  }
  
